Authors: Eddie Ramirez and Jenny Chen

In [1]:
import pandas

In [2]:
import pandas as pd

In [3]:
import geopandas as gpd

In [4]:
import matplotlib.pyplot as plt

In [5]:
import contextily as ctx

In [6]:
from geopandas_view import view

In [7]:
import geopandas

In [8]:
## Importing Demographic profile 2018 & Age_and_Sex tracts for 2018

In [9]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
# list files
b.ls("census/demographic_profile/2018/")
# download
b.fetch("census/demographic_profile/2018/", "./2018/")

100%|██████████| 3.23G/3.23G [00:24<00:00, 131MB/s]

In [10]:
b.fetch("census/demographic_profile/2018/acs_2018_X01_AGE_AND_SEX_tract.parquet", "./acs_2018_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.2M/23.2M [00:03<00:00, 6.60MB/s]

In [11]:
tracts = pandas.read_parquet('./acs_2018_X01_AGE_AND_SEX_tract.parquet')

In [12]:
tracts.head()

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US01001020100,1923.0,929.0,22.0,35.0,67.0,83.0,58.0,6.0,0.0,63.0,...,19.9,19.8,38.3,40.9,43.0,40.6,52.5,NaN,NaN,1923.0
14000US01001020200,2028.0,1091.0,60.0,109.0,51.0,46.0,50.0,16.0,5.0,35.0,...,33.5,NaN,NaN,40.4,39.7,40.7,65.6,NaN,NaN,2028.0
14000US01001020300,3476.0,1581.0,53.0,142.0,155.0,43.0,32.0,5.0,33.0,56.0,...,21.2,14.1,37.4,34.8,37.5,34.0,27.8,27.2,28.4,3476.0
14000US01001020400,3831.0,1867.0,149.0,144.0,86.0,40.0,37.0,9.0,13.0,50.0,...,18.1,18.5,9.0,46.5,42.4,51.8,50.2,NaN,NaN,3831.0
14000US01001020500,9883.0,4902.0,350.0,473.0,220.0,309.0,107.0,17.0,34.0,230.0,...,14.5,10.3,40.2,42.4,40.0,45.0,NaN,NaN,NaN,9883.0

In [13]:
tracts.columns

Index(['B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E', 'B01001_010E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=359)

In [14]:
tracts = tracts.reset_index()

In [15]:
tracts.columns

# GEOID is now a column

Index(['GEOID', 'B01001_001E', 'B01001_002E', 'B01001_003E', 'B01001_004E',
       'B01001_005E', 'B01001_006E', 'B01001_007E', 'B01001_008E',
       'B01001_009E',
       ...
       'B01002G_001E', 'B01002G_002E', 'B01002G_003E', 'B01002H_001E',
       'B01002H_002E', 'B01002H_003E', 'B01002I_001E', 'B01002I_002E',
       'B01002I_003E', 'B01003_001E'],
      dtype='object', length=360)

In [16]:
ca_tracts = tracts[tracts.GEOID.str.startswith('14000US06')]

In [17]:
ca_tracts.head()

,GEOID,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
3560,14000US06001400100,3115.0,1539.0,94.0,45.0,40.0,31.0,19.0,0.0,8.0,...,37.6,37.0,45.7,55.9,58.5,55.4,68.5,71.9,53.6,3115.0
3561,14000US06001400200,2025.0,987.0,72.0,51.0,66.0,7.0,12.0,0.0,0.0,...,15.0,12.8,15.9,46.2,44.5,46.9,33.4,34.0,31.1,2025.0
3562,14000US06001400300,5000.0,2364.0,140.0,166.0,34.0,41.0,22.0,0.0,12.0,...,19.1,NaN,19.2,42.1,42.0,42.3,28.9,27.8,35.3,5000.0
3563,14000US06001400400,3843.0,1635.0,121.0,42.0,99.0,82.0,0.0,11.0,0.0,...,12.7,14.5,9.1,36.8,37.5,35.7,28.3,31.9,24.8,3843.0
3564,14000US06001400500,3786.0,1633.0,152.0,62.0,53.0,40.0,12.0,0.0,7.0,...,28.8,31.4,28.4,35.4,35.9,34.9,31.3,32.1,30.9,3786.0

In [19]:
ca_tracts = ca_tracts[['GEOID','B01001_005E','B01001_006E','B01001_007E','B01001_029E','B01001_030E','B01001_031E']]

In [60]:
#ca_tracts.rename(columns={'B01001_001E':'Estimate_Total','B01001_002E':'Estimate_Total_Male','B01001_003E':'ETM_Under5yrs','B01001_004E':'ETM_5to9yr','B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_008E':'ETM_20yr','B01001_009E':'ETM_21yr','B01001_010E':'ETM_22to24yr','B01001_011E':'ETM_25to29yr','B01001_012E':'ETM_30to34yr','B01001_013E':'ETM_35to39yr','B01001_014E':'ETM_40to44yr','B01001_15E':'ETM_45to49yr','B01001_16E':'ETM_50to54yr','B01001_17E':'ETM_55to59yr','B01001_18E':'ETM_60to61yr','B01001_19E':'ETM_62to64yr','B01001_20E':'ETM_65to66yr','B01001_21E':'ETM_67to69yr','B01001_22E':'ETM_70to74yr','B01001_23E':'ETM_75to79yr','B01001_24E':'ETM_80to84yr','B01001_24E':'ETM_85andover'})

In [20]:
ca_tracts = ca_tracts.rename(columns={'B01001_005E':'ETM_10to14yr','B01001_006E':'ETM_15to17yr','B01001_007E':'ETM_18to19yr','B01001_029E':'ETF_10_14yr','B01001_030E':'ETF_15to17yr','B01001_031E':'ETF_18to19yr'})

In [21]:
ca_tracts = ca_tracts[['GEOID','ETM_10to14yr','ETM_15to17yr','ETM_18to19yr', 'ETF_10_14yr','ETF_15to17yr','ETF_18to19yr']]

In [22]:
ca_tracts

,GEOID,ETM_10to14yr,ETM_15to17yr,ETM_18to19yr,ETF_10_14yr,ETF_15to17yr,ETF_18to19yr
3560,14000US06001400100,40.0,31.0,19.0,103.0,31.0,81.0
3561,14000US06001400200,66.0,7.0,12.0,70.0,27.0,0.0
3562,14000US06001400300,34.0,41.0,22.0,74.0,73.0,36.0
3563,14000US06001400400,99.0,82.0,0.0,81.0,27.0,45.0
3564,14000US06001400500,53.0,40.0,12.0,79.0,20.0,0.0
...,...,...,...,...,...,...,...
11612,14000US06115040800,219.0,119.0,53.0,147.0,129.0,47.0
11613,14000US06115040901,52.0,85.0,25.0,74.0,18.0,61.0
11614,14000US06115040902,83.0,6.0,64.0,40.0,20.0,58.0
11615,14000US06115041000,423.0,167.0,60.0,133.0,133.0,49.0
11616,14000US06115041100,272.0,86.0,2.0,51.0,109.0,2.0

In [23]:
ca_tracts['total_mf_10_19'] = ca_tracts['ETM_10to14yr'] + ca_tracts['ETM_15to17yr'] + ca_tracts['ETM_18to19yr'] + ca_tracts['ETF_10_14yr'] + ca_tracts['ETF_15to17yr'] + ca_tracts['ETF_18to19yr']

In [24]:
ca_tracts

,GEOID,ETM_10to14yr,ETM_15to17yr,ETM_18to19yr,ETF_10_14yr,ETF_15to17yr,ETF_18to19yr,total_mf_10_19
3560,14000US06001400100,40.0,31.0,19.0,103.0,31.0,81.0,305.0
3561,14000US06001400200,66.0,7.0,12.0,70.0,27.0,0.0,182.0
3562,14000US06001400300,34.0,41.0,22.0,74.0,73.0,36.0,280.0
3563,14000US06001400400,99.0,82.0,0.0,81.0,27.0,45.0,334.0
3564,14000US06001400500,53.0,40.0,12.0,79.0,20.0,0.0,204.0
...,...,...,...,...,...,...,...,...
11612,14000US06115040800,219.0,119.0,53.0,147.0,129.0,47.0,714.0
11613,14000US06115040901,52.0,85.0,25.0,74.0,18.0,61.0,315.0
11614,14000US06115040902,83.0,6.0,64.0,40.0,20.0,58.0,271.0
11615,14000US06115041000,423.0,167.0,60.0,133.0,133.0,49.0,965.0
11616,14000US06115041100,272.0,86.0,2.0,51.0,109.0,2.0,522.0

In [25]:
ca_tracts = ca_tracts[['GEOID', 'total_mf_10_19']]

In [26]:
ca_tracts['GEOID1'] = [v[7:] for v in ca_tracts.GEOID.values]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:
ca_tracts.head()

                   GEOID  total_mf_10_19       GEOID1
3560  14000US06001400100           305.0  06001400100
3561  14000US06001400200           182.0  06001400200
3562  14000US06001400300           280.0  06001400300
3563  14000US06001400400           334.0  06001400400
3564  14000US06001400500           204.0  06001400500

In [28]:
ca_tracts.head()

                   GEOID  total_mf_10_19       GEOID1
3560  14000US06001400100           305.0  06001400100
3561  14000US06001400200           182.0  06001400200
3562  14000US06001400300           280.0  06001400300
3563  14000US06001400400           334.0  06001400400
3564  14000US06001400500           204.0  06001400500

In [29]:
## Adding Tracts for geometries

In [30]:
b.fetch("census/acs/acs_2018_tract.parquet", "./acs_2018_tract.parquet")

100%|██████████| 575M/575M [00:05<00:00, 102MB/s]

In [31]:
tract = gpd.read_file('./tl_2018_06_tract/tl_2018_06_tract.shp')

In [32]:
tract.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,037,137504,06037137504,1375.04,Census Tract 1375.04,G5020,S,3837562,0,+34.1480383,-118.5720594,"POLYGON ((-118.58119 34.14318, -118.58099 34.1..."
1,06,037,138000,06037138000,1380,Census Tract 1380,G5020,S,4472196,0,+34.1488008,-118.5910495,"POLYGON ((-118.60573 34.14585, -118.60561 34.1..."
2,06,037,139200,06037139200,1392,Census Tract 1392,G5020,S,1152031,0,+34.1756961,-118.5246447,"POLYGON ((-118.53082 34.18024, -118.52952 34.1..."
3,06,067,002300,06067002300,23,Census Tract 23,G5020,S,1213095,0,+38.5571708,-121.4938311,"POLYGON ((-121.50218 38.55643, -121.50184 38.5..."
4,06,067,002400,06067002400,24,Census Tract 24,G5020,S,3224718,0,+38.5448312,-121.4973382,"POLYGON ((-121.50970 38.54070, -121.50960 38.5..."

In [33]:
## Set to CA STATEFP

In [34]:
tract.shape

(8057, 13)

In [35]:
tract.crs

<Geographic 2D CRS: EPSG:4269>
Name: NAD83
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: North America - NAD83
- bounds: (167.65, 14.92, -47.74, 86.46)
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [36]:
dem_tracts=tract.merge(ca_tracts,left_on="GEOID",right_on="GEOID1")

In [37]:
dem_tracts.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID_x,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,GEOID_y,total_mf_10_19,GEOID1
0,06,037,137504,06037137504,1375.04,Census Tract 1375.04,G5020,S,3837562,0,+34.1480383,-118.5720594,"POLYGON ((-118.58119 34.14318, -118.58099 34.1...",14000US06037137504,229.0,06037137504
1,06,037,138000,06037138000,1380,Census Tract 1380,G5020,S,4472196,0,+34.1488008,-118.5910495,"POLYGON ((-118.60573 34.14585, -118.60561 34.1...",14000US06037138000,404.0,06037138000
2,06,037,139200,06037139200,1392,Census Tract 1392,G5020,S,1152031,0,+34.1756961,-118.5246447,"POLYGON ((-118.53082 34.18024, -118.52952 34.1...",14000US06037139200,625.0,06037139200
3,06,067,002300,06067002300,23,Census Tract 23,G5020,S,1213095,0,+38.5571708,-121.4938311,"POLYGON ((-121.50218 38.55643, -121.50184 38.5...",14000US06067002300,259.0,06067002300
4,06,067,002400,06067002400,24,Census Tract 24,G5020,S,3224718,0,+38.5448312,-121.4973382,"POLYGON ((-121.50970 38.54070, -121.50960 38.5...",14000US06067002400,452.0,06067002400

In [38]:
dem_tracts = dem_tracts[['GEOID1', 'total_mf_10_19', 'geometry' ]]

In [39]:
dem_tracts

,GEOID1,total_mf_10_19,geometry
0,06037137504,229.0,"POLYGON ((-118.58119 34.14318, -118.58099 34.1..."
1,06037138000,404.0,"POLYGON ((-118.60573 34.14585, -118.60561 34.1..."
2,06037139200,625.0,"POLYGON ((-118.53082 34.18024, -118.52952 34.1..."
3,06067002300,259.0,"POLYGON ((-121.50218 38.55643, -121.50184 38.5..."
4,06067002400,452.0,"POLYGON ((-121.50970 38.54070, -121.50960 38.5..."
...,...,...,...
8052,06059001303,784.0,"POLYGON ((-117.95917 33.92458, -117.95888 33.9..."
8053,06059001304,438.0,"POLYGON ((-117.95918 33.92820, -117.95831 33.9..."
8054,06059001401,516.0,"POLYGON ((-117.95056 33.94503, -117.95055 33.9..."
8055,06013367200,869.0,"POLYGON ((-122.34551 37.96355, -122.34550 37.9..."
8056,06047002402,1332.0,"POLYGON ((-120.65838 36.96594, -120.65833 36.9..."

In [40]:
#dem_tracts.to_parquet('demographics_tracts.parquet')

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: this is an initial implementation of Parquet/Feather file support and associated metadata.  This is tracking version 0.1.0 of the metadata specification at https://github.com/geopandas/geo-arrow-spec

This metadata specification does not yet make stability promises.  We do not yet recommend using this in a production setting unless you are able to rewrite your Parquet/Feather files.

To further ignore this warning, you can do:
import warnings; warnings.filterwarnings('ignore', message='.*initial implementation of Parquet.*')
  """Entry point for launching an IPython kernel.