In [1]:
import pandas
import pandas as pd 
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view
import geopandas

In [2]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("census/demographic_profile/2018/acs_2018_X02_RACE_bg.parquet", "./acs_2018_X02_RACE_bg.parquet")

100%|██████████| 9.15M/9.15M [00:03<00:00, 2.68MB/s]

In [88]:
race_tracts = pandas.read_parquet('./acs_2018_X02_RACE_bg.parquet')

In [89]:
race_tracts.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,...,C02003_010E,C02003_011E,C02003_012E,C02003_013E,C02003_014E,C02003_015E,C02003_016E,C02003_017E,C02003_018E,C02003_019E
GEOID,,,,,,,,,,,,,,,,,,,,,
15000US021980001003,506.0,170.0,4.0,247.0,4.0,29.0,0.0,52.0,0.0,52.0,...,0.0,52.0,52.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0
15000US021980002001,927.0,446.0,3.0,366.0,0.0,7.0,0.0,105.0,0.0,105.0,...,0.0,105.0,97.0,0.0,91.0,0.0,0.0,6.0,8.0,0.0
15000US021980002002,1178.0,731.0,11.0,235.0,26.0,0.0,7.0,168.0,10.0,158.0,...,10.0,158.0,152.0,6.0,121.0,10.0,1.0,14.0,16.0,0.0
15000US021980002003,435.0,321.0,0.0,55.0,9.0,0.0,0.0,50.0,2.0,48.0,...,2.0,48.0,46.0,0.0,42.0,0.0,1.0,3.0,4.0,0.0
15000US021980003001,15.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [90]:
race_tracts.columns

Index(['B02001_001E', 'B02001_002E', 'B02001_003E', 'B02001_004E',
       'B02001_005E', 'B02001_006E', 'B02001_007E', 'B02001_008E',
       'B02001_009E', 'B02001_010E', 'B02008_001E', 'B02009_001E',
       'B02010_001E', 'B02011_001E', 'B02012_001E', 'B02013_001E',
       'C02003_001E', 'C02003_002E', 'C02003_003E', 'C02003_004E',
       'C02003_005E', 'C02003_006E', 'C02003_007E', 'C02003_008E',
       'C02003_009E', 'C02003_010E', 'C02003_011E', 'C02003_012E',
       'C02003_013E', 'C02003_014E', 'C02003_015E', 'C02003_016E',
       'C02003_017E', 'C02003_018E', 'C02003_019E'],
      dtype='object')

In [91]:
#race_tracts.reset_index()

In [92]:
race_tracts = race_tracts[['B02001_002E','B02001_003E','B02001_004E','B02001_005E','B02001_006E','B02001_008E']]

In [93]:
race_tracts.head()

,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_008E
GEOID,,,,,,
15000US021980001003,170.0,4.0,247.0,4.0,29.0,52.0
15000US021980002001,446.0,3.0,366.0,0.0,7.0,105.0
15000US021980002002,731.0,11.0,235.0,26.0,0.0,168.0
15000US021980002003,321.0,0.0,55.0,9.0,0.0,50.0
15000US021980003001,15.0,0.0,0.0,0.0,0.0,0.0

In [106]:
race_tracts = race_tracts.rename(columns={'B02001_002E':'white','B02001_003E':'black','B02001_004E':'amind','B02001_005E':'asian','B02001_006E':'nh_pi','B02001_008E':'two_or_more'})

In [83]:
race_tracts.head()

                     white  black  amind  asian  nh_pi  two_or_more
GEOID
15000US021980001003  170.0    4.0  247.0    4.0   29.0         52.0
15000US021980002001  446.0    3.0  366.0    0.0    7.0        105.0
15000US021980002002  731.0   11.0  235.0   26.0    0.0        168.0
15000US021980002003  321.0    0.0   55.0    9.0    0.0         50.0
15000US021980003001   15.0    0.0    0.0    0.0    0.0          0.0

In [94]:
race_tracts.reset_index(level=0,inplace=True)

In [85]:
#race_tracts['GEOID'] = race_tracts.index

In [95]:
race_tracts.columns

Index(['GEOID', 'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E',
       'B02001_006E', 'B02001_008E'],
      dtype='object')

In [96]:
race_tracts.head()

,GEOID,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_008E
0,15000US021980001003,170.0,4.0,247.0,4.0,29.0,52.0
1,15000US021980002001,446.0,3.0,366.0,0.0,7.0,105.0
2,15000US021980002002,731.0,11.0,235.0,26.0,0.0,168.0
3,15000US021980002003,321.0,0.0,55.0,9.0,0.0,50.0
4,15000US021980003001,15.0,0.0,0.0,0.0,0.0,0.0

In [46]:
#race_tracts["GEOID"]=race_tracts["GEOID"].astype(float)

In [97]:
race_tracts = race_tracts[race_tracts.GEOID.str.startswith('15000US06')]

In [98]:
race_tracts.columns

Index(['GEOID', 'B02001_002E', 'B02001_003E', 'B02001_004E', 'B02001_005E',
       'B02001_006E', 'B02001_008E'],
      dtype='object')

In [99]:
race_tracts['GEOID'] = [v[7:] for v in race_tracts.GEOID.values]

In [107]:
race_tracts.head()

              GEOID   white  black  amind  asian  nh_pi  two_or_more
10297  060014303003   661.0    0.0    0.0  225.0   16.0         51.0
10298  060014304001   554.0   14.0    0.0  198.0   11.0        124.0
10299  060014304002   888.0    5.0    5.0  302.0    0.0         35.0
10300  060014305001  1416.0  729.0   27.0  536.0    4.0         21.0
10301  060014305002   473.0  474.0   23.0  427.0   30.0        214.0

In [154]:
race_tracts['GEOID'] = [v[:5] for v in race_tracts.GEOID.values]

In [155]:
race_tracts.head()

       GEOID   white  black  amind  asian  nh_pi  two_or_more
10297  06001   661.0    0.0    0.0  225.0   16.0         51.0
10298  06001   554.0   14.0    0.0  198.0   11.0        124.0
10299  06001   888.0    5.0    5.0  302.0    0.0         35.0
10300  06001  1416.0  729.0   27.0  536.0    4.0         21.0
10301  06001   473.0  474.0   23.0  427.0   30.0        214.0

In [156]:
race_tracts.groupby(by='GEOID').sum()

           white     black    amind      asian    nh_pi  two_or_more
GEOID
06001   681725.0  177135.0  10712.0   486434.0  13768.0     104155.0
06003      723.0       9.0    311.0        8.0      8.0         87.0
06005    32989.0     790.0    305.0      499.0     73.0       1799.0
06007   186095.0    3477.0   2885.0    10151.0    427.0      14150.0
06009    41375.0     302.0    492.0      568.0    126.0       1825.0
06011    18854.0     362.0    201.0      324.0     53.0        558.0
06013   648325.0   97333.0   5529.0   185065.0   5585.0      78434.0
06015    20958.0     785.0   2024.0      977.0     17.0       1695.0
06017   164202.0    1494.0   1268.0     8291.0    406.0       6949.0
06019   627437.0   47372.0  10961.0   100017.0   1770.0      39323.0
06021    23127.0     255.0    670.0      820.0     51.0        558.0
06023   108784.0    1585.0   6797.0     4160.0    436.0       8228.0
06025   115817.0    4591.0   1801.0     2684.0    419.0       7542.0
06027    14557.0     161.0   2101.0      290.0     35.0        619.0
06029   663592.0   48179.0   9488.0    41842.0   1698.0      31136.0
06031    98429.0    9687.0   2291.0     5946.0    337.0       6414.0
06033    49463.0    1562.0   2426.0      661.0     30.0       1958.0
06035    25672.0    2738.0    877.0      437.0    205.0        666.0
06037  5186859.0  823987.0  70527.0  1469968.0  27929.0     397680.0
06039   111621.0    5026.0   2505.0     3294.0    169.0       5454.0
06041   203342.0    5709.0    737.0    15000.0    584.0      12661.0
06043    15579.0     166.0    397.0      243.0     54.0        705.0
06045    73121.0     531.0   3591.0     1689.0    170.0       4300.0
06047   154376.0    8772.0   1988.0    20131.0    623.0      11033.0
06049     8046.0     149.0    298.0      140.0      6.0        247.0
06051    12017.0     105.0    527.0      339.0      0.0        385.0
06053   256709.0   11200.0   3221.0    24342.0   2011.0      18343.0
06055   102711.0    2867.0   1198.0    11373.0    272.0       5371.0
06057    91579.0     655.0    864.0     1008.0    154.0       3453.0
06059  1950902.0   54732.0  14466.0   635672.0   9442.0     128289.0
06061   313636.0    6197.0   1890.0    27535.0    839.0      18060.0
06063    16654.0     194.0    428.0      200.0     41.0        718.0
06065  1450134.0  153545.0  19281.0   152130.0   6843.0     106112.0
06067   875793.0  149064.0  10340.0   235474.0  16715.0     107565.0
06069    48851.0     440.0    422.0     1739.0    117.0       2812.0
06071  1305047.0  178404.0  17894.0   149837.0   6506.0     101117.0
06073  2335447.0  166412.0  20980.0   390418.0  13903.0     170366.0
06075   406538.0   45402.0   2746.0   297667.0   2911.0      47356.0
06077   411958.0   52023.0   4725.0   112997.0   4463.0      74686.0
06079   242078.0    5265.0   1900.0    10234.0    258.0      10139.0
06081   391024.0   17849.0   2922.0   215337.0  10504.0      42725.0
06083   344026.0    8626.0   4389.0    23863.0    814.0      19996.0
06085   865460.0   48058.0   9303.0   689176.0   7541.0      96665.0
06087   208476.0    2596.0   1375.0    12601.0    316.0      12855.0
06089   155840.0    2209.0   4704.0     5427.0    191.0       7299.0
06091     2890.0       6.0     25.0        0.0      0.0          9.0
06093    36971.0     632.0   1469.0      678.0    149.0       2922.0
06095   231149.0   61826.0   2114.0    67813.0   4113.0      31563.0
06097   375519.0    7960.0   4854.0    20087.0   1636.0      27839.0
06099   408817.0   15534.0   4261.0    29248.0   3973.0      22607.0
06101    66752.0    2006.0    936.0    14635.0    569.0       6539.0
06103    54119.0     471.0   1621.0      964.0     19.0       2540.0
06105    11136.0      87.0    577.0      207.0    158.0        320.0
06107   352259.0    7326.0   5469.0    16462.0    697.0      15521.0
06109    47189.0     926.0    997.0      749.0    134.0       2505.0
06111   680197.0   14835.0   7069.0    61772.0   1771.0      37561.0
06113   145778.0    5834.0   1247.0    29612.0    984.0      13748.0
06115    56344.0    2432.0   1079.0     5104.0    343.0       6065.0

In [164]:
dem_race_count = dem_income.merge(race_tracts.groupby(by='GEOID').sum(),on='GEOID')

In [166]:
dem_race_count.head()

,GEOID,NAMELSAD,CountyName,geometry,total_mf_10_19,median_household_income,white,black,amind,asian,nh_pi,two_or_more
0,06091,Sierra County,Sierra,"POLYGON ((-120.65559 39.69356, -120.65552 39.6...",294.0,48125.0,2890.0,6.0,25.0,0.0,0.0,9.0
1,06067,Sacramento County,Sacramento,"POLYGON ((-121.18857 38.71431, -121.18731 38.7...",196932.0,21635098.0,875793.0,149064.0,10340.0,235474.0,16715.0,107565.0
2,06083,Santa Barbara County,Santa Barbara,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343...",64685.0,6803252.0,344026.0,8626.0,4389.0,23863.0,814.0,19996.0
3,06009,Calaveras County,Calaveras,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",4245.0,554899.0,41375.0,302.0,492.0,568.0,126.0,1825.0
4,06111,Ventura County,Ventura,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292...",116814.0,15141748.0,680197.0,14835.0,7069.0,61772.0,1771.0,37561.0

In [167]:
dem_race_count.shape

(58, 12)

In [159]:
dem_income = gpd.read_parquet('./gv/dem_income.parquet')

In [160]:
dem_income.head()

,GEOID,NAMELSAD,CountyName,geometry,total_mf_10_19,median_household_income
0,06091,Sierra County,Sierra,"POLYGON ((-120.65559 39.69356, -120.65552 39.6...",294.0,48125.0
1,06067,Sacramento County,Sacramento,"POLYGON ((-121.18857 38.71431, -121.18731 38.7...",196932.0,21635098.0
2,06083,Santa Barbara County,Santa Barbara,"MULTIPOLYGON (((-120.73429 34.90069, -120.7343...",64685.0,6803252.0
3,06009,Calaveras County,Calaveras,"POLYGON ((-120.63093 38.34110, -120.63057 38.3...",4245.0,554899.0
4,06111,Ventura County,Ventura,"MULTIPOLYGON (((-119.32922 34.22784, -119.3292...",116814.0,15141748.0

In [157]:
#dem_tracts = gpd.read_parquet('demographics_tracts.parquet')

In [158]:
#dem_tracts.head()

,GEOID1,total_mf_10_19,geometry
0,06037137504,229.0,"POLYGON ((-118.58119 34.14318, -118.58099 34.1..."
1,06037138000,404.0,"POLYGON ((-118.60573 34.14585, -118.60561 34.1..."
2,06037139200,625.0,"POLYGON ((-118.53082 34.18024, -118.52952 34.1..."
3,06067002300,259.0,"POLYGON ((-121.50218 38.55643, -121.50184 38.5..."
4,06067002400,452.0,"POLYGON ((-121.50970 38.54070, -121.50960 38.5..."

In [104]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("census/demographic_profile/2018/acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet", "./acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet")

100%|██████████| 4.56M/4.56M [00:03<00:00, 1.44MB/s]

In [141]:
latino = pandas.read_parquet('./acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet')

In [142]:
latino.head()

,B03001_001E,B03001_002E,B03001_003E,B03001_004E,B03001_005E,B03001_006E,B03001_007E,B03001_008E,B03001_009E,B03001_010E,...,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E,B03003_001E,B03003_002E,B03003_003E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US02020001300,3127.0,2903.0,224.0,83.0,0.0,9.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3127.0,2903.0,224.0
14000US02020001400,5047.0,4679.0,368.0,182.0,123.0,0.0,0.0,37.0,0.0,0.0,...,16.0,0.0,0.0,2.0,74.0,48.0,26.0,5047.0,4679.0,368.0
14000US02020001500,5388.0,5063.0,325.0,206.0,0.0,0.0,0.0,44.0,0.0,44.0,...,62.0,0.0,0.0,171.0,0.0,0.0,0.0,5388.0,5063.0,325.0
14000US02020001601,4058.0,3582.0,476.0,254.0,22.0,0.0,166.0,0.0,0.0,0.0,...,0.0,25.0,0.0,317.0,9.0,9.0,0.0,4058.0,3582.0,476.0
14000US02020001602,4450.0,4250.0,200.0,173.0,2.0,0.0,0.0,7.0,0.0,7.0,...,6.0,0.0,0.0,24.0,47.0,19.0,28.0,4450.0,4250.0,200.0

In [143]:
latino = latino[['B03003_003E']]

In [144]:
latino.head()

                    B03003_003E
GEOID
14000US02020001300        224.0
14000US02020001400        368.0
14000US02020001500        325.0
14000US02020001601        476.0
14000US02020001602        200.0

In [145]:
latino = latino.rename(columns={'B03003_003E':"Latino"})

In [146]:
latino.head()

                    Latino
GEOID
14000US02020001300   224.0
14000US02020001400   368.0
14000US02020001500   325.0
14000US02020001601   476.0
14000US02020001602   200.0

In [147]:
#latino.reset_index()

In [148]:
latino.reset_index(level=0,inplace=True)

In [149]:
latino.head()

                GEOID  Latino
0  14000US02020001300   224.0
1  14000US02020001400   368.0
2  14000US02020001500   325.0
3  14000US02020001601   476.0
4  14000US02020001602   200.0

In [152]:
latino = latino[latino.GEOID.str.startswith('15000US06')]


14000US02020001300
15000US021980001003

In [153]:
latino.head()

Empty DataFrame
Columns: [GEOID, Latino]
Index: []

In [138]:
latino['GEOID'] = [v[7:] for v in latino.GEOID.values]

In [139]:
latino

Empty DataFrame
Columns: [GEOID, Latino]
Index: []

In [115]:
racetracts=latino.merge(race_tracts,left_on="GEOID",right_on="GEOID")

In [40]:
racetracts.head()

Empty DataFrame
Columns: [Latino, white, black, amind, asian, nh_pi, two_or_more]
Index: []

In [41]:
latino.dtypes

Latino    float64
dtype: object

In [42]:
race_tracts.dtypes

white          float64
black          float64
amind          float64
asian          float64
nh_pi          float64
two_or_more    float64
dtype: object